@using Newtonsoft.Json
@{
    ViewData["Title"] = "Order History";
}
<h1>@ViewData["Title"]</h1>
 

<h2>You have to be connected to access your order history</h2>


<div>
    <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/LogIn">Log in</a>
    <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">Create an account</a>
</div>