@using Newtonsoft.Json
@{
    ViewData["Title"] = "Cart";
}
<h1>@ViewData["Title"]</h1>
 

<h2>You have to be connected to access your cart</h2>


<div>
    <!-- Button that directs the user to the login page -->
    <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/LogIn">Log in</a>
    <!-- Button that directs the user to the register page -->
    <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">Create an account</a>
</div>